@import '/public/assets/styles/scss/variables.scss';

.card{
//  padding: $padding;
 border: 1px solid transparent;
 box-sizing: border-box !important;
}

.card-body{
  padding: $padding_md;
 }

 



.cardHeader{
   margin-bottom: $margin-bottom;
   display: flex;
   justify-content: space-between;
   align-items: center;
  .cardHeaderText{
   font-size: $font-size-title__md;
   font-weight: 700;
  }
 }

.card-footer{
 display: flex;
}
