 @import '../../public/assets/styles/scss/variables.scss';

 .btn{
font-size:$font-size__sm;
background:$color__yellow;
border-color: $color__yellow;
border-radius: $btn__border-radius;
outline:none;
border:none;
font-weight:400;
width:max-content;
height:36px;
display:flex;
justify-content: center;
align-items: center;
     }
