.btn_mg{
    margin-top:15px;
    width: 232px !important
}
.tire{
    background-color:red !important;
}
li{
    padding:10px;
    .d-flex{
        display:flex;
        align-items: center;
        img{
            margin-right:15px
        }
        span{
          white-space:nowrap
        }
      }
}
.border-color{
    opacity: .1;
}