@import '../../public/assets/styles/scss/variables';

.main{
    flex-basis: 71%; 
    background-color: $color__white;
    border-radius: $border-radius_sm;
    height: max-content;
}

@media(max-width:990px){
    .main{
        flex-basis:100%  !important;
        width:100%;
    }
}