@import '../../public/assets/styles/scss/variables';

.main{
    flex-basis: 71%; 
    background-color: $color__white;
    border-radius: $border-radius_sm;
    height: max-content;
    // padding:$padding_lg
}

@media(max-width:900px){
    .main{
        flex-basis:100%  !important;
        width:100%;
        padding:0px !important;
    }
}