@import './variables.scss';

@each $name,$value in $colors {
 .color-#{$name} {
   color: $value;
 }
}

@each $name,$value in $colors {
 .bg-#{$name} {
   background-color: $value !important;
 }
}

@each $name,$value in $colors {
  .border-#{$name} {
    border-color: $value !important;
  }
 }

.border-color{
 border-color: $color__bg !important;
}

