@import './scss/variables';

.contact-page{
    display: flex;
    justify-content: space-between;
    // position: relative;
    flex-flow: wrap;

    .contact-info{
        flex-basis: 60%;
        margin-left: -100px;
        // position: absolute;
        // left: 0px;
        // top: 0px;

        .contact-container{
            h3{
                font-size:36px;
                font-weight:500;
                font-style:normal
            }

            div{
                display: flex;
                align-items: center;
                img{width:47px;}
                span,a{
                    font-size:18px;
                }
            }
        }
    }

    .contact-page-form{
        // position: absolute;
        // right: $padding_lg;
    flex-basis: 43%;

    }
}