@import './scss/variables.scss';
@import './scss/colors.scss';
@import './scss/sizing.scss';
@import './scss/fontSizes.scss';

@import '../../../components/footer/Footer.scss';
@import '../../../components/card/card.scss';
@import '../../../components/rate/rate.scss';
@import '../../../components/news_item/news-item.scss';
@import '../../../components/post_item/post-item.scss';
@import '../../../components/form-group/from-group.scss';
@import '../../../components/switch/switch.scss';
@import '../../../components/selectbox/selectbox.scss';
@import '../../../components/page/page.scss';
@import '../../../components/button/button';
@import '../../../components/Navbar/navbar';
@import '../../../components/radio-button/radio-button.scss';
@import '../../../components/main-slider/main-slider.scss';
@import '../../../components/address-item/address-item.scss';
@import '../../../components/aside-menu/aside-menu.scss';
@import '../../../components/input/input.scss';
@import '../../../components/summary/summary.scss';
@import '../../../components/checkbox/checkbox.scss';
@import '../../../components/aside/aside.scss';
@import '../../../components/main/main.scss';
@import '../../../components/tabel/tabel.scss';
@import '../../../components/balance/balance.scss';
@import '../../../components/package_item/package-item.scss';




@import './example-shop.scss';
@import './balans.scss';
@import './blog.scss';
@import './about.scss';
@import './post-info.scss';
@import './user-info.scss';
@import './register';
@import './Home';
@import './contact.scss';
@import './faq.scss';
@import './orders.scss';
@import './decleration.scss';










@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe UI.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe UI Bold.ttf");
  font-style: bold;
  font-weight: 800;
  font-display: swap;
}
 @font-face {
  font-family: "Segoe UI";
  src: url("../fonts/seguibl.ttf");
  font-style: bold;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/seguisb.ttf");
  font-style: bold;
  font-weight: 800;
  font-display: swap;
}

#__next{
margin:0;
padding:0;

box-sizing: border-box;
font-family: $font-family;

}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: $color__menu;
}
.container-fluid{
  max-width:1100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // box-sizing: border-box;
}
.footer__card{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.size_btn{
  width:30%
}
.footer-cart{
  display:none
}
.courier__form{
  display: flex;
   flex-wrap: wrap;
}
.footer__courier{
  justify-content:flex-end
}
.coruier__cards{
  margin:0 0px 20px 20px;
}
.mobile__order{
  display:none
}
.border-success{
  border: 1px solid #7dbb00;
  padding: 10px 0!important;
}
.r_lf_mg{
  margin:40px 0 40px 40px;
}
@media(max-width:630px){
  .r_lf_mg{
    margin:20px 0
  }
  .mobile__order{
    display:block !important
  }
  .desktop__order{
    display: none !important;
  }
}
@media screen and (min-width:600px) and (max-width:990px){
  .footer__courier{
    .w-25{
      width:50% !important
    }
  }

}
@media(max-width:990px){
  .coruier__cards{
    margin:0  20px;
  }
  .overflow__package{
    overflow:scroll;
    
  }
  .courier__form{
    .w-50{
     width:100% !important
    }
    .pr-lg{
     padding:0 !important
    }
  }
  .table__scroll{
    overflow:scroll;
  }
  .footer__courier{
    .w-25{
      width:100% !important
    }
  }
 }
@media screen  and (max-width:1200px){
.container-fluid{
  margin:0 20px 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // box-sizing: border-box;
}

}
@media(max-width:990px){
  .d-n{
    display: none !important;
  }
  .footer__card{
    display:none !important;
  }
  .footer__cart{
    display:block;
    width:100%;
  }
  .size_btn_m{
    width:100%
  }
}

.p-r{
 position: relative;
}

// .cf-flex{
//   display: flex;
//   flex-wrap: wrap;
// }

.fluid_bottom{
  margin-bottom: calc(#{$fluid-size} / 2);
}
