@import './scss/variables.scss';
@import './scss/colors.scss';
@import './scss/sizing.scss';
@import './scss/fontSizes.scss';

@import '../../../components/footer/Footer.scss';
@import '../../../components/card/card.scss';
@import '../../../components/rate/rate.scss';
@import '../../../components/news_item/news-item.scss';
@import '../../../components/post_item/post-item.scss';
@import '../../../components/form-group/from-group.scss';
@import '../../../components/switch/switch.scss';
@import '../../../components/selectbox/selectbox.scss';
@import '../../../components/page/page.scss';
@import '../../../components/button/button';
@import '../../../components/Navbar/navbar';
@import '../../../components/radio-button/radio-button.scss';
@import '../../../components/main-slider/main-slider.scss';
@import '../../../components/address-item/address-item.scss';
@import '../../../components/aside-menu/aside-menu.scss';
@import '../../../components/input/input.scss';
@import '../../../components/summary/summary.scss';
@import '../../../components/checkbox/checkbox.scss';
<<<<<<< HEAD
@import '../../../components/balance/balance.scss';
=======
@import '../../../components/aside/aside.scss';
@import '../../../components/main/main.scss';
@import '../../../components/tabel/tabel.scss';
@import '../../../components/package_item/package-item.scss';



>>>>>>> 2919030bf44e73720f23685aba28e216f1862cb9


@import './blog.scss';
@import './about.scss';
@import './post-info.scss';
@import './user-info.scss';
@import './register';
@import './Home';
@import './contact.scss';
@import './faq.scss';
@import './orders.scss';









@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe UI.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe UI Bold.ttf");
  font-style: bold;
  font-weight: 800;
  font-display: swap;
}
 @font-face {
  font-family: "Segoe UI";
  src: url("../fonts/seguibl.ttf");
  font-style: bold;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/seguisb.ttf");
  font-style: bold;
  font-weight: 800;
  font-display: swap;
}

#__next{
margin:0;
padding:0;
box-sizing: border-box;
font-family: $font-family;

}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: $color__menu;
}

.container-fluid{
  max-width: 1006px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // box-sizing: border-box;
}

// .cf-flex{
//   display: flex;
//   flex-wrap: wrap;
// }

.fluid_bottom{
  margin-bottom: calc(#{$fluid-size} / 2);
}
