@import './scss/variables';
.flex{
  display: flex;
}
.title{
    font-family:$font-family;
    font-weight:600;
    font-size:$font-size-title__md;
    color:$color__black;
  }
  .mg__bottom{
    margin-bottom:67px;
    margin-top:79px;
  }
 .howworks{
  .work__flex--container{
    display: flex;
    justify-content: space-between;
    .work__flex{
      display: flex;
      flex:2;
      padding: 0px $padding_xs;
    
    .background__radius{
      width:50%;
      height:60%;
      border-radius:50%;
      position:relative;
        img{
      position: absolute;
      transform: translate(-50%, -50%);
      text-align: center;
      left: 50%;
      top: 50%;
        }
    }

    .work__main{
      width:100%;
      margin-left:28px;
      
      .work__title{
        font-size: $font-size__subtitle;
        font-weight:800;
        margin-bottom:5px;
      }
      .work__text{
        font-size: $font-size__sm;
         
      }
    }
  }
   
  }
 }
.fluid_bottom{
  .flex__news{
    display: flex;
    padding:0
  }
  .flex__item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    .title__sm{
     font-size:$font-size;
   }
   .mg__bottom2{
     margin-bottom:47px;
      
   }
  }
}

.home-page{
  .main-section{
    display: flex;
    align-items: center;
    justify-content: center;

    .container-fluid{
      display: flex;
      justify-content: space-between;
      .slider-container{
        width: 66%;
        height: auto;
      }
      .login-card{
        width: 33%;
      }
    }
  }
  .page{

    .tariff-section{
     
     display: flex;
    //  justify-content: space-between;
     align-items: center;
     
  
     .card{
       .for-mobile{
         display: none;
       }
       .card-body{
         div{
           .rate{
            //  width: 33%;
             margin-right: $margin_sm;
           }
         }
       }
     }
   }
  }
}

@media(max-width:990px){
  .for-mobile{
    display:block  !important;
  }
  .desktop{
    display:none !important;
  }
  
  .fluid_bottom{
    .flex__news{
      flex-flow:row wrap
    }
    .flex__item{
      flex-wrap: wrap;
    }
    }
    .sm-mob{
      margin-right:2px !important
    }
    
}
@media(max-width:600px){
  .flex{
    display: flex;
    justify-content:space-between;
  }
  .login-card{
    display:none;
    
  }
  .slider-container {
    width: 100% !important
  }
  .news-item{
    width:100%;
    margin-bottom: 15px;
    img{
      width:50%;
    }
  }
  .howworks{
    display:none
  }
  .tariff-section{
    flex-wrap:wrap;
  }
}
@media(max-width:500px){
 
  
}