@import './scss//variables.scss';


     .pip-img{
      margin-bottom: $margin_sm;
      img{
          width: 100%;
      }
      .pip-date{
       display: flex;
       justify-content: flex-end;
      }
     }
    .pip-info{
     h3{
      margin-bottom: $margin_sm;
     }
    }
