@import './scss/variables';

.user-info-page{

.container-fluid{
    display: flex;
    flex-wrap: wrap;
    .uip-aside{
      flex-basis: 31%;

    }

    .uip-main{
        flex-basis: 66%;
    }
}

}