@import './scss/variables';

.user-profile-page{

.container-fluid{
    display: flex;
    flex-wrap: wrap;
}

}

@media(max-width:800px){
    .flex__column{
        flex-direction:column !important;
        .w-50{
            width:100% !important
        }
    }
    .mobile__color{
        background:none !important
    }
}